<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link rel="stylesheet" href="css/styles.css" />

</head>

<body>

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header class="header-style-1">

            <div id="top-bar" class="top-bar-style2">
                <div class="container border-bottom padding-25px-bottom xs-padding-10px-bottom">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-between">

                        <div>
                            <div class="xs-text-center">
                                <a href="index.html" class="navbar-brand xs-no-margin-right"><img id="logo"
                                        src="img/logos/logo.png" alt="logo"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </header>
        <!-- end header section -->

        <!-- start banner text -->
        <div class="container h-100">
            <div class="header-text display-table h-100">

                <div class="display-table-cell vertical-align-bottom">
                    <div class="bg-white-opacity padding-40px-top padding-20px-lr border-radius-3">
                        <form method="post" action="demo-1.html#!">
                            <div class="row align-items-center justify-content-center">

                                <div class="col-md-6 col-lg-2">
                                    <div class="form-group">
                                        <label>Arrival Date</label>
                                        <input type="text" name="date" placeholder="Date:" data-provide="datepicker">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <div class="form-group">
                                        <label>Departure Date</label>
                                        <input type="text" name="date" placeholder="Date:" data-provide="datepicker">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <div class="form-group">
                                        <div class="select-option">
                                            <label>Adults</label>
                                            <select>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <div class="form-group">
                                        <div class="select-option">
                                            <label>Children</label>
                                            <select>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- end banner text -->

        </section>
        <!-- end banner -->


        <!-- start popular things section -->
        <section>
            <div class="container">
                <div class="text-center margin-40px-bottom">
                    <h3 class="margin-10px-bottom">Popular Things Near You</h3>
                    <p class="no-margin-bottom">Lorem Ipsum is simply dummy printing</p>
                </div>
                <div class="row popular-things">
                    
                    <div class="col-lg-4 sm-margin-30px-bottom">
                        <div class="theme-shadow border-radius-3">
                            <img src="img/content/01.jpg" alt="" />
                            <div class="border-bottom padding-25px-all d-flex justify-content-between">
                                <h5 class="font-size17 no-margin-bottom"><a href="single-room.html"
                                        class="text-extra-dark-gray">Single room</a></h5>
                                <ul class="rate no-margin-bottom">
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                </ul>
                            </div>
                            <div>
                                <div class="row align-items-center text-center padding-15px-tb">
                                    <div class="col-6 border-right"><a href="single-room.html" class="butn small">book
                                            now</a></div>
                                    <div class="col-6"><span
                                            class="display-block font-size20 letter-spacing-2 text-extra-dark-gray">$180.00</span><span>Per
                                            night</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 sm-margin-30px-bottom">
                        <div class="theme-shadow border-radius-3">
                            <img src="img/content/02.jpg" alt="" />
                            <div class="border-bottom padding-25px-all d-flex justify-content-between">
                                <h5 class="font-size17 no-margin-bottom"><a href="single-room.html"
                                        class="text-extra-dark-gray">Double room</a></h5>
                                <ul class="rate no-margin-bottom">
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                </ul>
                            </div>
                            <div>
                                <div class="row align-items-center text-center padding-15px-tb">
                                    <div class="col-6 border-right"><a href="single-room.html" class="butn small">book
                                            now</a></div>
                                    <div class="col-6"><span
                                            class="display-block font-size20 letter-spacing-2 text-extra-dark-gray">$280.00</span><span>Per
                                            night</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="theme-shadow border-radius-3">
                            <img src="img/content/03.jpg" alt="" />
                            <div class="border-bottom padding-25px-all d-flex justify-content-between">
                                <h5 class="font-size17 no-margin-bottom"><a href="single-room.html"
                                        class="text-extra-dark-gray">Family apartment</a></h5>
                                <ul class="rate no-margin-bottom">
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="demo-1.html#"><i class="fas fa-star"></i></a></li>
                                </ul>
                            </div>
                            <div>
                                <div class="row align-items-center text-center padding-15px-tb">
                                    <div class="col-6 border-right"><a href="single-room.html" class="butn small">book
                                            now</a></div>
                                    <div class="col-6"><span
                                            class="display-block font-size20 letter-spacing-2 text-extra-dark-gray">$380.00</span><span>Per
                                            night</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end popular things section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- all js include start -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

</body>

</html>